nav a.current {
    font-weight: bold;
}

.indent-1 {
    padding-left: 1em;
    border-left-style: solid;
    margin-left: 1em;
}

.entry-list-item {
    margin-bottom: 3em;
}

.entry-content {
    padding-left: 1em;
}