{% extends 'base.html' %}

{% block content %}
<h1>
    {% if entry.title %}
    {{ entry.title }}
    {% else %}
    <a href="{{ entry.book.get_absolute_url }}">{{ entry.book }}</a>
    {% endif %}
</h1>
{% if entry.title %}
<h2>
    <a href="{{ entry.book.get_absolute_url }}">{{ entry.book }}</a>
</h2>
{% endif %}
{% with authors=entry.book.authors.all %}
{% if authors %}
<h3>
    Author{{ authors|pluralize }}:
    {% for author in authors %}
    <a href="{{ author.get_absolute_url }}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</h3>
{% endif %}
{% endwith %}
<h3>{{ entry.publish_dt }}</h3>
<h3>By: {{ entry.author }}</h3>

<p>{{ entry.body|linebreaks }}</p>
{% endblock content %}