{% extends 'base.html' %}
{% load entry_tags %}

{% block content %}
<h2>
    Entries
    {% if tag %}
    tagged with "{{ tag.name }}"
    {% endif %}
    {% if 'query' in query_params %}
    matching the query "{{ query_params.query }}"
    {% endif %}
</h2>

<form method="get">
    <p>
        {{ form.query }}
        <input type="submit" value="Search"/>
    </p>
</form>

{% if 'query' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }}
    <a href="{% url 'entry_list' request.user.username %}">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}
<ul>
    {% for entry in entries %}
    <li>
        <h5>
            {% if entry.status == 'd' %}
            <span>(Draft)</span>
            {% endif %}
            <a href="{{ entry.get_absolute_url }}">
                {% if entry.title %}
                {{ entry.title }} ({{ entry.book }})
                {% else %}
                {{ entry.book }}
                {% endif %}
            </a>
        </h5>
        <p>
            {% with sec=entry.section chap=entry.chapter %}
            {% if sec %}{{ sec }}{% endif %}{% if sec and chap %}, {% endif %}
            {% if chap %}Chapter {{ chap }}{% endif %}
            {% endwith %}
        </p>
        <p>{{ entry.publish_dt }} - {{ entry.author }}</p>
        {% if entry.tags.exists %}
        <p>
            Tags:
            {% for tag in entry.tags.all %}
            <a href="{% url 'entry_list' entry.author.username %}?tag={{ tag.slug }}">
                {{ tag }}
            </a>
            {% if not forloop.last %} | {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        <p>{{ entry.body|markdown }}</p>
    </li>
    {% empty %}
    {% if 'query' in query_params %}
    <li>No entries match your search</li>
    {% else %}
    <li>You don't have any entries yet</li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'partials/pagination.html' with page=page_obj query_params=query_params %}
{% endblock content %}
