{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
User {{ object.username }} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="page-title">
    <p>
        <strong>Username:</strong> {{ object.username }}
        <br/>
        <strong>Date joined:</strong> {{ object.date_joined.date }}
    </p>

    {% if object != request.user and not follower and not requested_or_declined %}
    <a href="{% url 'request_follow' object.pk %}" class="btn">+ Follow</a>
    {% endif %}
</div>

{% if follower %}
<div>
    <p><strong>Following since:</strong> {{ follower.created.date }}</p>
</div>
{% endif %}

{% with about=object.profile.about %}
{% if about %}
<p>
    {{ about|markdown|linebreaks }}
</p>
{% endif %}
{% endwith %}
{% endblock content %}