{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
{{ book.title }} | {{ block.super }}
{% endblock title %}

{% block content %}

{% include 'render/book_primary.html' with book=book %}

<p>
    <a href="{% url 'user_entry_create' book.pk %}">New Entry</a>
</p>

{% if entries %}
<ul>
    {% for entry in entries %}
    <li>
        <h4>
            <a href="{% url 'user_entry_detail' entry.pk %}">
                {{ entry.publish_dt }}
            </a>
            - {{ entry.author }}
        </h4>
        <h4>{{ entry.title }}</h4>
        {% if entry.tags.exists %}
        <p>
            Tags:
            {% for tag in entry.tags.all %}
            <a href="{% url 'user_journal' %}?tag={{ tag.slug }}">
                {{ tag }}
            </a>
            {% if not forloop.last %} | {% endif %}
            {% endfor %}
        </p>
        {% endif %}
        <p>{{ entry.body|markdown }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}