{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
{{ book.title }} | {{ block.super }}
{% endblock title %}

{% block content %}

{% include 'render/book_primary.html' with book=book %}

<p>
    <a href="{% url 'user_entry_create' book.pk %}">New Entry</a>
</p>

{% if entries %}
<div class="indent-1">
    {% for entry in entries %}
    <div class="entry-list-item">{% include 'render/entry_list_item.html' with entry=entry %}</div>
    {% endfor %}
</div>
{% endif %}

{% endblock content %}