{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
{{ book.title }} | {{ block.super }}
{% endblock title %}

{% block content %}
<p>
    {% if request.user == profile.user %}
    <a href="{% url 'journal' request.user.pk %}">< Journal</a>
    {% else %}
    <a href="{% url 'journal' profile.user.pk %}">< {{ profile.user.username }}'s Journal</a>
    {% endif %}
</p>

{% include 'render/book_primary.html' with book=book %}

<h2>Entries by {{ profile.user.username }}</h2>

<form method="get">
    <p>
        {{ form.query }}
        <input type="submit" value="Search"/>
    </p>
</form>

{% if 'query' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }} matching the query "{{ query_params.query }}"
    <a href="{% url 'journal' profile.pk %}" class="btn btn-clear">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% if 'tag' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }} tagged with "{{ tag.name }}"
    <a href="{% url 'journal' profile.pk %}" class="btn btn-clear">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% if entries %}
<div class="indent-1">
    {% for entry in entries %}
    <div class="entry-list-item">{% include 'render/entry_list_item.html' with entry=entry %}</div>
    {% endfor %}
</div>
{% else %}
No entries for {{ book.title }} yet.
{% endif %}

{% if entries %}
{% include 'partials/pagination.html' with page=page_obj query_params=query_params %}
{% endif %}

{% endblock content %}