{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
Journal | {{ block.super }}
{% endblock title %}

{% block content %}
<h2>
    Entries
    {% if tag %}
    tagged with "{{ tag.name }}"
    {% endif %}
    {% if 'query' in query_params %}
    matching the query "{{ query_params.query }}"
    {% endif %}
</h2>

<form method="get">
    <p>
        {{ form.query }}
        <input type="submit" value="Search"/>
    </p>
</form>

{% if 'query' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }}
    <a href="{% url 'user_journal' %}">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% if 'tag' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }} with tag
    <a href="{% url 'user_journal' %}">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% for entry in entries %}
{% ifchanged entry.book %}
<div class="list-header">
    {% include 'render/book_list_header.html' with book=entry.book %}
</div>
{% endifchanged %}

{% if entry.section %}
{% ifchanged entry.section %}
<div class="indent-1">
    <h3>{{ entry.section }}</h3>
</div>
{% endifchanged %}
{% endif %}

{% if entry.chapter %}
{% ifchanged entry.chapter %}
<div
        {% if entry.section %}
        class="indent-2"
        {% else %}
        class="indent-1"
        {% endif %}
>
    <h3>Chapter {{ entry.chapter }}</h3>
</div>
{% endifchanged %}
{% endif %}

<div
        {% if entry.section and entry.chapter %}
        class="indent-3"
        {% elif entry.section or entry.chapter %}
        class="indent-2"
        {% else %}
        class="indent-1"
        {% endif %}
>
    {% include 'render/entry_list_item.html' with entry=entry %}
</div>

{% empty %}
{% if 'query' in query_params %}
<p>No entries match your search</p>
{% else %}
<p>
    You don't have any entries yet.
    <br/>
    Find a <a href="{% url 'book_list' %}">book</a> to and start journaling.
</p>
{% endif %}
{% endfor %}

{% include 'partials/pagination.html' with page=page_obj query_params=query_params %}
{% endblock content %}
