{% extends 'base.html' %}
{% load entry_tags %}

{% block title %}
Journal | {{ block.super }}
{% endblock title %}

{% block content %}
<h1>
    Entries
</h1>

<form method="get">
    <p>
        {{ form.query }}
        <input type="submit" value="Search"/>
    </p>
</form>

{% if 'query' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }} matching the query "{{ query_params.query }}"
    <a href="{% url 'user_journal' %}">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% if 'tag' in query_params %}
{% with num=page_obj.paginator.count %}
<h3>
    {{ num }} result{{ num|pluralize }} tagged with "{{ tag.name }}"
    <a href="{% url 'user_journal' %}">
        Clear
    </a>
</h3>
{% endwith %}
{% endif %}

{% for entry in entries %}
{% ifchanged entry.book %}
{% if not forloop.first %}</div>{% endif %}
<div class="list-header">
    {% include 'render/book_list_header.html' with book=entry.book %}
</div>
<div class="indent-1">
{% endifchanged %}
    <div class="entry-list-item">{% include 'render/entry_list_item.html' with entry=entry %}</div>
{% if forloop.last %}</div>{% endif %}
{% empty %}
{% if 'query' in query_params %}
<p>No entries match your search</p>
{% else %}
<p>
    You don't have any entries yet.
    <br/>
    Find a <a href="{% url 'book_list' %}">book</a> to and start journaling.
</p>
{% endif %}
{% endfor %}

{% include 'partials/pagination.html' with page=page_obj query_params=query_params %}
{% endblock content %}
