{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <!-- meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.webp' %}"/>

        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
<!--        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">-->
        {% endblock %}

        <title>{% block title %}BookJournal{% endblock %}</title>
    </head>
    <body>
        <div id="page">
            <header>
                {% block nav %}
                {% include 'partials/nav.html' %}
                {% endblock %}
            </header>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        {# <a href="#" class="close">x</a> #}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}

            <div id="content" class="container mb-3">
                {% block content %}
                {% endblock %}
            </div>

            {% block footer %}
            <div class="container">
                {% include 'partials/footer.html' %}
            </div>
            {% endblock %}
        </div>
    </body>
</html>
