{% extends 'base.html' %}

{% block title %}
{% if self.object.pk %}Edit
{% else %}New
{% endif %}
Entry
{% endblock title %}

{% block content %}

<h1>
    {% if object.pk %}Edit
    {% else %}New
    {% endif %}
    Entry
</h1>
<h2>{{ book.title }} - {{ book.published }}</h2>
<form method="post">
    {{ form.non_field_errors }}

    <div class="fieldWrapper">
        {% if form.title.errors %}
        <p>{{ form.title.errors }}</p>
        {% endif %}
        <p>
            <label for="{{ form.title.id_for_label}}">Title: </label>
            {{ form.title }} (optional)
        </p>
    </div>

    <div class="fieldWrapper">
        {% if form.body.errors %}
        <p>{{ form.body.errors }}</p>
        {% endif %}
        <label for="{{ form.body.id_for_label}}">Entry: </label><br/>
        {{ form.body }}
    </div>

    <div class="fieldWrapper">
        {{ form.visibility.as_field_group }}
    </div>
    <br/>

    <div class="fieldWrapper">
        <p>
            {{ form.section.as_field_group }}
            {% if not form.section.required %}(optional){% endif %}
        </p>
        <p>
            {{ form.chapter.as_field_group }}
            {% if not form.chapter.required %}(optional){% endif %}
        </p>
    </div>
    <div class="fieldWrapper">
        <p>
            <label for="{{ form.tags.id_for_label}}">Tags: </label>
            {{ form.tags }} (optional)<br/>
            {{ form.tags.help_text }}
        </p>
    </div>
    <br/>

    <button type="submit">Save</button>
    {% csrf_token %}
</form>
{% endblock %}