{% load entry_tags %}

<div class="entry-header">
    <a href="{% url 'user_entry_detail' entry.pk %}">{{ entry.publish_dt }}</a>
    - {{ entry.author.username }}
    - <em>{{ entry.get_visibility_display }}</em>
    {% with sec=entry.section chap=entry.chapter %}
    {% if sec or chap %}
    <br/>
    {{ sec }}{% if sec and chap %},{% endif %}
    {% if chap %}Chapter {{ chap }}{% endif %}
    {% endif %}
    {% endwith %}
</div>
<br/>

<div class="entry-content">
    {% if entry.title %}
    <h3 class="entry-title">
        {{ entry.title }}
    </h3>
    {% endif %}

    {% with tags=entry.tags %}
    {% if tags %}
    <div class="tag-container">
        {% include 'render/tag_partial.html' with tags=tags %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="entry-body">{{ entry.body|markdown|linebreaks }}</div>
</div>