{% load entry_tags %}

<div class="entry-header">
    <span class="entry-dt">{{ entry.publish_dt }}</span>
    - <span class="entry-author">{{ entry.author.username }}</span>
    - <span class="entry-visibility">{{ entry.get_visibility_display }}</span>
</div>

<div class="entry-body">
    {% with tags=entry.tags %}
    {% if tags %}
    <div class="tag-container">
        {% include 'render/tag_partial.html' with tags=tags %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="entry-content">
        {% if entry.title %}
        <h1 class="entry-title">
            {{ entry.title }}
        </h1>
        {% endif %}

        <div class="entry-markdown">{{ entry.body|markdown|linebreaks }}</div>
    </div>

    {% if request.user == entry.author %}
    <p>
        <a href="{% url 'entry_update' request.user.pk entry.pk %}" class="btn">Edit</a>
        <a href="{% url 'entry_delete' request.user.pk entry.pk %}" class="btn btn-clear">Delete</a>
    </p>
    {% endif %}
</div>