<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
        <a
                {% if query_params %}
                href="?{% for k, v in query_params.items %}{{ k }}={{ v }}&{% endfor %}page={{ page.previous_page_number }}">
                {% else %}
                href="?page={{ page.previous_page_number }}">
                {% endif %}
            Previous
        </a>
        {% endif %}
        <span class="current">
            Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
        <a
                {% if query_params %}
                href="?{% for k, v in query_params.items %}{{ k }}={{ v }}&{% endfor %}page={{ page.next_page_number }}">
                {% else %}
                href="?page={{ page.next_page_number }}">
                {% endif %}
            Next
        </a>
        {% endif %}
    </span>
</div>